#include "version.h"

1 VERSIONINFO

FILEVERSION		DVER_MAJORVERSION, DVER_MINORVERSION, DVER_BUGFIXVERSION, DVER_BUILDNUM
PRODUCTVERSION	DVER_MAJORVERSION, DVER_MINORVERSION, DVER_BUGFIXVERSION, DVER_BUILDNUM

FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "CompanyName", DVER_COMPANY "\0"
		VALUE "FileDescription", DVER_FILEDESCRIPTION "\0"
		VALUE "FileVersion", DVER_VERSION_STRING "\0"
		VALUE "InternalName", DVER_INTERNALNAME "\0"
		VALUE "LegalCopyright", DVER_COPYRIGHT "\0"
		VALUE "OriginalFilename", DVER_ORIGINALFILENAME "\0"
		VALUE "ProductName", DVER_PRODUCTNAME "\0"
		VALUE "ProductVersion", DVER_VERSION_STRING "\0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

